<details class="project" id="portfolio" open>
	<summary><div style="margin-right: 0.5em;">Portfolio Website</div><div class="minus" >-</div><div style="color: rgb(255,255,255,0.5); font-style: italic; ">(diese Seite)</div></summary>
	<div class="content" >
			<p class="light-grey">Diese Seite ist mit Astro gebaut, komplett selbst gehostet und per CI/CD deployt. Sie ist schlank, wartbar und leichtwechtig.</p>
			
			<div>
				<h6>Highlights:</h6>
				<ul>
					<li>Kontankformular über NodeJS Backend</li>
				</ul>
			</div>
			<div>

				<h6>Tech Stack:</h6>
				<div class="gallery" style="display: flex;">
					<div class="image-container">
						<img src="/images/astro.svg" alt="Astro" style="width:50px; filter: brightness(0) invert(1); margin: 10px;"/>
						<div class="tooltip" id="tooltip">Als Frontend Framework wurde Astro verwendet</div>
					</div>
					<div class="image-container">
						<img src="/images/caddy.svg" alt="Caddy" style="width:50px; filter: brightness(0) invert(1); border-radius:0; margin: 10px;"/>
						<div class="tooltip" id="tooltip">Caddy als Webserver</div>
					</div>
					<div class="image-container">
						<img src="/images/docker.svg" alt="Docker" style="width:50px; filter: brightness(0) invert(1); border-radius:0; margin: 10px;"/>
						<div class="tooltip" id="tooltip">Deployment mittels Docker</div>
					</div>
					<div class="image-container">
                        <img src="/images/nodedotjs.svg" alt="NodeJS"/>
                        <div class="tooltip" id="tooltip">Das Backend wurde mit NodeJS (Express) umgesetzt</div>
                    </div>
				</div>
			</div>
			<div>
				<h6>Quellcode:</h6>
				<ul>
					<li><a href="https://github.com/MilosDenck/portfolio-site" target="_blank" rel="noopener noreferrer">Astro App</a></li>
				</ul>
			</div>
		</div>

</details>