<details class="project" open>
    <summary><div>Pump My Bike</div><div class="minus" >-</div><div style="color: rgb(255,255,255,0.5); font-style: italic;">iOS-App für urbane Radfahrer</div></summary>
    <div class="content content-flex" >
        <div>
            <img src="/images/pmb-mockup.gif" alt="Demo-Animation" style="width:300px;"/>
        </div>
        <div>
            <p class="light-grey">Native iOS-App zum Finden und Bewerten öffentlicher Fahrradpumpen. Nutzer:innen können neue Orte melden, bestehende bewerten und Fotos hochladen.</p>
            <div>
                
                <h6>Highlights:</h6>
                <ul>
                    <li>CI/CD Pipeline für automatisches Deployment</li>
                    <li>Self-hosted API auf Hetzner-Server (Docker)</li>
                </ul>
            </div>
            <div>

                <h6>Tech Stack:</h6>
                <div class="gallery" style="display: flex;">
                    <div class="image-container">
                        <img src="/images/swift.svg" alt="Swift"/>
                        <div class="tooltip" id="tooltip">Die iOS App wurde mit Swift Programmiert</div>
                    </div>
                    <div class="image-container">
                        <img src="/images/nodedotjs.svg" alt="NodeJS"/>
                        <div class="tooltip" id="tooltip">Das Backend wurde mit NodeJS (Express) umgesetzt</div>
                    </div>
                    <div class="image-container">
                        <img src="/images/postgresql.svg" alt="PostgreSQL"/>
                        <div class="tooltip" id="tooltip">Als Datenbank wurde PostgreSQL verwendet</div>
                    </div>
                    <div class="image-container">
                        <img src="/images/caddy.svg" alt="Caddy" />
                        <div class="tooltip" id="tooltip">Caddy als Webserver</div>
                    </div>
                    <div class="image-container">
                        <img src="/images/docker.svg" alt="Docker"/>
                        <div class="tooltip" id="tooltip">Deployment mittels Docker Compose</div>
                    </div>
                </div>
            </div>
            <div>
                <h6>Quellcode:</h6>
                <ul>
                    <li><a href="https://github.com/MilosDenck/Pump-My-Bike-Server" target="_blank" rel="noopener noreferrer">Backend</a></li>
                    <li><a href="https://github.com/MilosDenck/Pump-My-Bike" target="_blank" rel="noopener noreferrer">App</a></li>
                </ul>
            </div>
        </div>
        
    </div>
    
    
</details>