<details class="project" id="tetris" open>
	<summary><div>Retro Tetris</div><div class="minus" >-</div><div style="color: rgb(255,255,255,0.5); font-style: italic;">Rebuild im Pixel-Look</div></summary>
	<div class="content project-wrapper">
		<div class="screenshot-wrapper">
			<img src="/images/Tetris-screen-recording.gif" alt="Screenshot Startscreen"/>
		</div>
		<div>
			<p class="light-grey"> Ein Tetris-Klon im klassischen Pixel-Stil – gebaut mit React. Bringt dir ein bisschen 80er-Flair direkt in den Browser.</p>
			<div>
				<h6>Highlights:</h6>
				<ul>
					<li>Retro Art</li>
					<li>Self-deployed auf Hetzner Server</li>
				</ul>
			</div>
			<div>

				<h6>Tech Stack:</h6>
				<div class="gallery" style="display: flex;">
					<div class="image-container">
						<img src="/images/react.svg" alt="React" style="width:50px; filter: brightness(0) invert(1); margin: 10px;"/>
						<div class="tooltip" id="tooltip">Als JS Framework wurde React Native verwendet</div>
					</div>
					<div class="image-container">
						<img src="/images/caddy.svg" alt="Caddy" style="width:50px; filter: brightness(0) invert(1); border-radius:0; margin: 10px;"/>
						<div class="tooltip" id="tooltip">Caddy als Webserver</div>
					</div>
					<div class="image-container">
						<img src="/images/docker.svg" alt="Docker" style="width:50px; filter: brightness(0) invert(1); border-radius:0; margin: 10px;"/>
						<div class="tooltip" id="tooltip">Deployment mittels Docker</div>
					</div>
				</div>
			</div>
			<div>
				<h6>Quellcode:</h6>
				<ul>
					<li><a href="https://github.com/MilosDenck/tetris">React App</a></li>
				</ul>
			</div>
		</div>
		<center id="tetris-link"><a href="https://tetris.milosdenck.de/" target="_blank" rel="noopener noreferrer">zur Demo</a></center>

		</div>

</details>