<details class="project" open>
	<summary><div>Wetter App</div><div class="minus" >-</div><div style="color: rgb(255,255,255,0.5); font-style: italic;">eine simple React App</div></summary>
	<div class="content" >
			<p class="light-grey">Eine kleine React-App zur Anzeige des aktuellen Wetters und Forecast per API. Die App zeigt Zustand, Temperatur und Icons.</p>
			
			<div>
				<h6>Highlights:</h6>
				<ul>
					<li>Einbindung der open Meteo Api</li>
					<li>Grafische Darstellung mittels MUI X Charts</li>
				</ul>
			</div>
			<div>

				<h6>Tech Stack:</h6>
				<div class="gallery" style="display: flex;">
					<div class="image-container">
						<img src="/images/react.svg" alt="React" style="width:50px; filter: brightness(0) invert(1); margin: 10px;"/>
						<div class="tooltip" id="tooltip">Als JS Framework wurde React Native verwendet</div>
					</div>
					<div class="image-container">
						<img src="/images/caddy.svg" alt="Caddy" style="width:50px; filter: brightness(0) invert(1); border-radius:0; margin: 10px;"/>
						<div class="tooltip" id="tooltip">Caddy als Webserver</div>
					</div>
					<div class="image-container">
						<img src="/images/docker.svg" alt="Docker" style="width:50px; filter: brightness(0) invert(1); border-radius:0; margin: 10px;"/>
						<div class="tooltip" id="tooltip">Deployment mittels Docker</div>
					</div>
				</div>
			</div>
			<div>
				<h6>Quellcode:</h6>
				<ul>
					<li><a href="https://github.com/MilosDenck/weather-app" target="_blank" rel="noopener noreferrer">React App</a></li>
				</ul>
			</div>
			<center class="demo-link"><a href="https://wetter.milosdenck.de/" target="_blank" rel="noopener noreferrer">zur Demo</a></center>
		</div>

</details>