/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--border-radius-small: 6px;
	--border-radius-medium: 10px;
	--border-radius-big: 20px;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 235, 235, 220;
	--gray-dark: 24, 30, 37;
	--gray-dark-accent: 22, 27, 34;
	--gray-dark-accent-gradient: rgba(var(--gray-dark), 100%) 20%, #3c3c3c;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

html {
  scroll-behavior: smooth;
}

@font-face {
	font-family: 'FiraCode';
	src: url('/fonts/FiraCode-VF.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'FiraCode';
	src: url('/fonts/FiraCode-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'FiraCode', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: rgb(var(--gray-dark));
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: white;
	font-size: 1.5em;
	line-height: 1.7;
}
main {
	width: 80%;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	margin: 0 0 0.5rem 0;
	color: rgb(var(--white));
	line-height: 1.2;
	margin-bottom: 10px;
}
h1 {
	font-size: 3.052em;
	margin-bottom: 60px;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
	font-weight: 500;
	margin: 1em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}


p {
	margin-bottom: 1em;
}

.profile-picture {
	border-radius: 50%;
}


section{
	margin-bottom: 10em;
	margin-top: 1em;
}






.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	padding: 1em;
}

.image-container {
	position: relative;
	display: inline-block;
}

.image-container img {
	height: auto;
	display: block;
	width: 2em; 
	filter: brightness(0) invert(1); 
	margin: 0.5em;
}

.tooltip {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 0.4em 0.5em;
	border-radius: var(--border-radius-small);
	font-size: 0.6em;
	pointer-events: none;
	white-space: nowrap;
	transform: translate(10px, 10px);
	opacity: 0;
	transition: opacity 0.2s ease;
	z-index: 10;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.project {
  	overflow: hidden;
	border: 1px solid rgb(255,255,255,0.5); 
	border-radius: var(--border-radius-big); 
	padding: 0 1.5em; 
	margin: 1em 0; 
	background-color: rgb(var(--gray-dark-accent));
}

.project summary {
	margin: 1em; 
	display:flex;
	cursor: pointer;
	font-weight: bold;
}

h6{
	text-align: start; 
	font-weight: bold;
	margin-top: 2em;
}

.project:hover{
	box-shadow: var(--box-shadow);
}

.project .content {
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transition: max-height 0.4s ease, opacity 0.3s ease;
}
.project.open .content {
	opacity: 1;
	padding: 20px;
}

input, textarea {
	all: unset;
	width: 100%;
	font-size: small;
	background-color: transparent;
	padding: 0.5em;
	border: 1px solid rgb(255,255,255,0.5);
	border-radius: var(--border-radius-medium);
	background-color: rgb(var(--gray-dark-accent));
	box-sizing: border-box;
	margin-bottom: 0.5em;
	transition: border 0.3s ease, box-shadow 0.3s ease;
}

input:focus, textarea:focus {
	border: 1px solid rgb(255,255,255,0.5);
	box-shadow: var(--box-shadow)
}




label {
	font-size: small;
	font-weight: 500;
	margin-top: 0;
}

button {
	all: unset;
	font-size: medium;
	padding: 0.3em 0.6em;
	border: 1px solid white;
	border-radius: var(--border-radius-medium);
	float: right;
	margin-top: 0.5em;
	cursor: pointer;
}

button:hover {
	background-color: white;
	border: 1px solid rgb(var(--gray-dark));
	color: rgb(var(--gray-dark));
	box-shadow: var(--box-shadow)
}

#kontaktformular{
	margin-top: 0;
	padding: 0 15%;
	margin-bottom: 3em;
	
}

.contact-button{
	font-weight: 600;
	font-size: 1.2em;
}

.contact-button:hover{
	text-decoration: none;
	
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start; /* verhindert Höhenstreckung */
  margin-top: 1rem;
}

.screenshot-wrapper {
  flex: 1 1 300px;
  max-width: 360px;
  background-color: #181820;
  padding: 0.4em;
  border-radius: var(--border-radius-medium);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border: 1px solid #333;
  align-self: flex-start; /* verhindert volle Höhe */
}

.screenshot-wrapper img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-small);
  display: block;
}

/* img {
	width: 100%;
	height: auto;
	border-radius: 6px;
	display: block;
} */

.info-container {
	display: flex; 
	align-items: center; 
	margin-bottom: 20px;
}

.info-container p{
	margin-left: 40px;
}

.content-flex{
	display: flex; 
	flex-direction: row-reverse;
	align-items: center;
}

.minus{
	margin: 0 0.5em; 
	color: rgb(255,255,255,0.5); 
	font-style: italic;
}

section p {
	padding: 0.5em; 
	margin: 2em 0;
}

.form-text {
	padding: 1em;
}





@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	.demo-link{
		margin-bottom: 1em;
	}

	.profile-picture{
		margin-bottom: 0.5em;
	}

	#tetris-link {
		display: none;
	}

	main {
		padding: 0 0.5em;
		width: 90%;
	}

	.form-text {
		padding: 1em 0;
	}

	section p {
		padding: 10px; 
		margin: 0;
	}

	h1{
		font-size: 1.5em;
		margin-bottom: 1em;
	}


	#kontaktformular {
		padding: 0;
	
	}
	.info-container {
		flex-direction: column;
	}

	.info-container p{
		margin-left: 0;
	}

	.content-flex{
		flex-direction: column;
	}

	.minus{
		margin: 0 0.0; 
		display: none;
		font-style: italic;
	}

	.project summary {
		margin: 1em 0; 
		flex-direction: column;

	}

	section{
		margin-bottom: 7em;
	}

	h3 {
		font-size: 1.4em;
		font-weight: 500;
		margin-bottom: 0.5em;
	}

	.project summary div{
		margin: 0;
	}

	.project.open .content {
		padding: 0;
	}

	.project {
		margin: 1em 0; 
	}
}
