---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PumpMyBike from '../components/projects/PumpMyBike.astro';
import Tetris from '../components/projects/Tetris.astro';
import WeatherApp from '../components/projects/WeatherApp.astro'
import PortfolioWebsite from '../components/projects/PortfolioWebsite.astro'
import ContactForm from '../components/ContactForm.astro';
import About from '../components/About.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<head>
	<script src="/scripts/text-effect.js" defer></script>
	</head>
	</head>
	<body>
		<Header />
		<main>
			<About />
			<section>
				<h3>Projekte</h3>
				<p class="light-grey">In meiner freien Zeit baue ich gerne kleinere Anwendungen, um Dinge auszuprobieren oder neue Technologien kennzulernen. Eine kleine Auswahl meiner Projekte ist hier zu sehen.</p>
				<PumpMyBike />
				<Tetris />
				<WeatherApp />
				<PortfolioWebsite />
			</section>
			
			<ContactForm />
			
		</main>
		<Footer />
	</body>
</html>
