<section>
    <h1>Hallo, ich bin Miloš</h1>
    <div class="info-container">
        <img class="profile-picture" width="200px" src="/images/photo-m.jpg"></img>
        <p class="light-grey">
            Hallo, ich bin Miloš und studiere Medieninformatik an der TU Berlin. 
            Ich interessiere mich besonders für ganzheitliche App- und Web-Entwicklung – vom Frontend über das Backend bis zur Infrastruktur.
            Erfahrung habe ich mit React, Node.js, Swift und PostgreSQL sowie im Bereich DevOps.
        </p>
    </div>
    <div style="text-align: center; width: 100%;">
        <a class="contact-button" href="#kontakt"><b>zum Kontaktformular</b></a>
    </div>
</section>