<section id="kontakt">
    <h3>Kontakt</h2>

    <form id="kontaktformular">
        <p class="light-grey form-text">Lust auf ein Gespräch oder Interesse an Zusammenarbeit? Ich freue mich über Nachrichten – egal ob zu einem meiner Projekte oder einem Stellenangebot.</p>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required>

        <label for="email">E-Mail:</label><br>
        <input type="email" id="email" name="email" required>

        <label for="message">Nachricht:</label><br>
        <textarea rows="10" id="message" name="message" required></textarea>

        <button type="submit">Senden</button>
    </form>

</section>